Bank Statement Categorizer.json
{
  "name": "Bank Statement Categorizer",
  "nodes": [
    {
      "parameters": {
        "options": {
          "readAsString": true
        }
      },
      "id": "1411de49-27b3-4377-9531-f4934b91b3e7",
      "name": "Extract CSV Data",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [
        -2368,
        1632
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "85cf90e5-ee7e-4e62-9a95-991de3d43bf9",
      "name": "Loop Check",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2176,
        1632
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Description }} | {{ $json.Value }} | {{ $json.Date }} | {{ $json.Type }}\n\nReturn only raw JSON, no markdown",
        "options": {
          "systemMessage": "=Data de hoje: {{ $now.format('yyyy-MM-dd') }}\n\nVocê é um assistente financeiro de IA especializado em **gerenciar automaticamente os gastos do usuário** com base nas mensagens recebidas.\n\nSeu objetivo é:\n1. **Receber o input do loop anterior {{ $json.Date }} {{ $json.Value }} {{ $json.Description }} {{ $json.Type }}**;\n2. **Identificar o gasto descrito a partir de {{ $json.Description }} e {{ $json.Value }}**\n3. **Categorizar corretamente o gasto** com base nas categorias abaixo;\n\n---\n\n### 🎯 Categorias de gasto (para uso na coluna `conta` do Supabase):\n- **Lazer**: cinema, parque, teatro\n- **Restaurante**: almoço, jantar, comida de restaurante\n- **Ifood**: pizzaria, ifood\n- **Bar**: barzinho, cerveja no bar\n- **Transporte**: Uber, táxi, ônibus, metrô\n- **Mercado**: mercado, pão de açúcar, assaí, st marche, atacadão, supermercado\n- **Padaria**\n- **Bebida**: compra de água, refrigerante, suco, cerveja fora do bar\n- **Estacionamento**\n- **Combustível**: gasolina, etanol, álcool\n- **Cabelereiro**: cabelo, unha\n- **Vestuário**: roupa, roupas, jóias\n- **Doação**: vakinha, doação\n- **Reforma**: banheiro, sala, cozinha, armário, quarto do bebê, quarto\n- **Farmácia**: remédio\n- **Hospital**: médico, hospital\n- **Pets**: cachorro, ração, bifinho\n- **Presente**\n- **PIX**: PIX, débito\n\n---\n\n### 📥 Exemplo de interpretação:\nDescription: McDonalds\nValue: 40\n→ Categoria: `Restaurante`\n→ Valor: `40`\n\n\n---\n\n### 🔧 Ações:\n\n**Como output retorne esse formato JSON:**\n```json\n{\n  \"conta\": \"Mercado\",\n  \"valor\": 88.61,\n  \"data\": \"2025-07-11\",\n  \"description\": \"Pao de Açucar\",\n  \"type\"? \"Debit\"\n}\n```\n\n\n\n### ⚠️ Observações Finais:\n- Sempre responda de forma clara e amigável ao usuário.\n- Se o valor for negativo (ex: -10.00), mantenha o sinal negativo no campo \"valor\"\n- Ignore mensagens irrelevantes ou que não contenham valores ou categorias.\n- CRITICAL: Return ONLY the raw JSON object. No markdown, no backticks, no ```json fences, no explanation. Just the JSON."
        }
      },
      "id": "fb606a26-194f-46e9-9361-5d6c684d67a4",
      "name": "AI Agent Categorizer",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1968,
        1760
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0
        }
      },
      "id": "c30add08-4839-4210-a42c-e03b5ee16e73",
      "name": "GPT-4o",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -2064,
        1936
      ],
      "credentials": {
        "openAiApi": {
          "id": "oOZNMYh66nmRdXym",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "399167b1-4b91-42f2-9854-ee9ba81f1b69",
      "name": "SerpApi (Google Search)",
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        -1728,
        1936
      ],
      "credentials": {
        "serpApi": {
          "id": "hLRQW2rCFfyRor3A",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "try {\n  const allItems = $input.all();\n  let totalItems = 0;\n  let categories = {};\n  let transactions = [];\n  let totalDebit = 0;\n  let totalCredit = 0;\n\n  for (const item of allItems) {\n    totalItems++;\n    let category = (item.json.category || item.json.output || \"Others\").trim();\n    let type = (item.json.Type || item.json.type || \"\").toLowerCase();\n\n    if (!categories[category]) {\n      categories[category] = { count: 0, total_value: 0 };\n    }\n    categories[category].count++;\n\n    let valueRaw = item.json.Value ?? item.json.value ?? item.json.Valor ?? item.json.valor ?? 0;\n    let value = parseFloat(valueRaw.toString().replace(/[R$\\s]/g, \"\").replace(\",\", \".\"));\n    if (isNaN(value)) value = 0;\n\n    categories[category].total_value = Math.round((categories[category].total_value + value) * 100) / 100;\n\n    // Accumulate debit/credit\n    if (type === \"credit\") {\n      totalCredit = Math.round((totalCredit + value) * 100) / 100;\n    } else {\n      totalDebit = Math.round((totalDebit + value) * 100) / 100;\n    }\n\n    transactions.push({\n      category: category,\n      description: item.json.Description || item.json.description || \"\",\n      value: value,\n      date: item.json.Date || item.json.date || \"\",\n      type: item.json.Type || item.json.type || \"\"\n    });\n  }\n\n  return {\n    json: {\n      total_transactions: totalItems,\n      total_debit: totalDebit,\n      total_credit: totalCredit,\n      balance: Math.round((totalCredit - totalDebit) * 100) / 100,\n      categories: categories,\n      transactions: transactions\n    }\n  };\n\n} catch (err) {\n  return { json: { error: err.message } };\n}"
      },
      "id": "22fa21b9-9bdf-4e2f-9eff-e85706ef20e5",
      "name": "Generate Dashboard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1984,
        1472
      ]
    },
    {
      "parameters": {
        "formTitle": "teste",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Test",
              "fieldType": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -2576,
        1472
      ],
      "id": "b53bf5ec-1669-4c5e-879d-ea3d9359bbdb",
      "name": "On form submission",
      "webhookId": "8648efca-243f-463c-990f-32b2c5a32748"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Strip markdown fences if AI misbehaves\nlet raw = (input.output || \"{}\").trim();\nraw = raw\n  .replace(/^```json\\s*/i, \"\")\n  .replace(/^```\\s*/i, \"\")\n  .replace(/```$/i, \"\")\n  .trim();\n\nlet parsed = {};\ntry {\n  parsed = JSON.parse(raw);\n} catch (e) {\n  parsed = { conta: \"Others\", valor: 0, data: \"\" };\n}\n\nreturn {\n  json: {\n    category: parsed.conta || \"Others\",\n    Value: parsed.valor || 0,\n    Date: parsed.data || \"\",\n    Description: parsed.description || input.Description || input.description || \"\",\n    Type: parsed.type || \"\"\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1360,
        1904
      ],
      "id": "dd00e04d-0620-4728-bfd6-8a80fed43850",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "csv-upload-api",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "csv-webhook-id-3",
      "name": "CSV Webhook API",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2608,
        1632
      ],
      "webhookId": "22733f51-a217-4d66-abb6-67f300a06c99"
    }
  ],
  "pinData": {},
  "connections": {
    "Extract CSV Data": {
      "main": [
        [
          {
            "node": "Loop Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Check": {
      "main": [
        [
          {
            "node": "Generate Dashboard",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent Categorizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Categorizer": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Dashboard": {
      "main": [
        []
      ]
    },
    "GPT-4o": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Categorizer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SerpApi (Google Search)": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Categorizer",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract CSV Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CSV Webhook API": {
      "main": [
        [
          {
            "node": "Extract CSV Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "8aaa5c6a-d36a-416f-85d0-476542f78bd9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4eb7ee026ed6735333e9412b3c9dce891681bab7bf815060cb542b0d4ee1f493"
  },
  "id": "Gu60z6xbFbXRILu0",
  "tags": [
    {
      "updatedAt": "2026-03-03T19:38:26.469Z",
      "createdAt": "2026-03-03T19:38:26.469Z",
      "id": "PEhhPtsd0JNHl03t",
      "name": "intelligence-agent"
    },
    {
      "updatedAt": "2026-03-03T19:38:26.528Z",
      "createdAt": "2026-03-03T19:38:26.528Z",
      "id": "QSWHqLiIwPQbDCkU",
      "name": "production"
    },
    {
      "updatedAt": "2026-03-03T19:38:26.469Z",
      "createdAt": "2026-03-03T19:38:26.469Z",
      "id": "djjlU45WeID4oupm",
      "name": "automated"
    },
    {
      "updatedAt": "2026-03-03T20:17:36.237Z",
      "createdAt": "2026-03-03T20:17:36.237Z",
      "id": "OEG4D49guGS9fpNt",
      "name": "gmail"
    }
  ]
}